<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://quickbooksintegrationbeta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/349122d9-f500-4bda-9209-5e9ea44dfea6/resourceGroups/CargoAIIntegrationResourceGRP/providers/Microsoft.Web/sites/QuickBooksIntegrationBeta</ResourceId>
    <UserName>$QuickBooksIntegrationBeta</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://quickbooksintegrationbeta.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>